<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdonisUI" version="1.17.1" targetFramework="net48" />
  <package id="AdonisUI.ClassicTheme" version="1.17.1" targetFramework="net48" />
  <package id="AForge" version="2.2.5" targetFramework="net48" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net48" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net48" />
  <package id="Analogy.CommonUtilities" version="5.0.3" targetFramework="net48" />
  <package id="Analogy.LogViewer.Interfaces" version="5.0.3" targetFramework="net48" />
  <package id="Analogy.LogViewer.Template" version="5.0.3" targetFramework="net48" />
  <package id="AWSSDK.Core" version="3.3.103.34" targetFramework="net48" />
  <package id="AWSSDK.S3" version="3.3.104.22" targetFramework="net48" />
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net48" />
  <package id="CS-Script.Core" version="2.0.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="ExCSS" version="4.1.4" targetFramework="net48" />
  <package id="Extended.Wpf.Toolkit" version="4.5.1" targetFramework="net48" />
  <package id="Fizzler" version="1.2.1" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.17.1" targetFramework="net48" />
  <package id="ini-parser" version="2.5.2" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.3.4" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="4.8.0-3.final" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="4.8.0-3.final" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.CSharp.Scripting" version="4.8.0-3.final" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Scripting.Common" version="4.8.0-3.final" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Ini" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyModel" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="7.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.International.Converters.PinYinConverter" version="1.0.0" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="4.4.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net48" />
  <package id="MTimer" version="1.0.0.3" targetFramework="net48" />
  <package id="MvvmLight" version="5.4.1.1" targetFramework="net48" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="NLog" version="5.2.7" targetFramework="net48" />
  <package id="NLog.Config" version="4.7.15" targetFramework="net48" />
  <package id="NLog.Schema" version="4.7.15" targetFramework="net48" />
  <package id="NSystem.Data.DwayneNeed.Wpf" version="2023.1.1" targetFramework="net48" />
  <package id="OxyPlot.Core" version="2.1.2" targetFramework="net48" />
  <package id="OxyPlot.Wpf" version="2.1.2" targetFramework="net48" />
  <package id="OxyPlot.Wpf.Shared" version="2.1.2" targetFramework="net48" />
  <package id="SharpDX" version="4.2.0" targetFramework="net48" />
  <package id="SharpDX.Direct3D9" version="4.2.0" targetFramework="net48" />
  <package id="SharpDX.Mathematics" version="4.2.0" targetFramework="net48" />
  <package id="SimpleTCP" version="1.0.24" targetFramework="net48" />
  <package id="SQLitePCLRaw.core" version="2.1.4" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.115.5" targetFramework="net48" />
  <package id="Svg" version="3.4.4" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="7.0.0" targetFramework="net48" />
  <package id="System.Data.SQLite" version="1.0.115.5" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.115.5" targetFramework="net48" />
  <package id="System.Data.SQLite.EF6" version="1.0.115.5" targetFramework="net48" />
  <package id="System.Data.SQLite.Linq" version="1.0.115.5" targetFramework="net48" />
  <package id="System.Drawing.Common" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="7.0.0" targetFramework="net48" />
  <package id="System.Resources.Extensions" version="7.0.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net48" />
  <package id="System.Runtime.Loader" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.4.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.4.0" targetFramework="net48" />
  <package id="System.ServiceProcess.ServiceController" version="4.4.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="7.0.0" targetFramework="net48" />
  <package id="System.Threading.AccessControl" version="4.4.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="ValueConverters" version="3.0.26" targetFramework="net48" />
  <package id="ValueConverters.Annotations" version="3.0.26" targetFramework="net48" />
  <package id="ViDi.NET" version="7.3.2.29953" targetFramework="net48" />
  <package id="ViDi.NET.Base" version="7.3.2.29953" targetFramework="net48" />
  <package id="ViDi.NET.Common" version="7.3.2.29953" targetFramework="net48" />
  <package id="ViDi.NET.Data" version="7.3.2.29953" targetFramework="net48" />
  <package id="ViDi.NET.Extensions" version="7.3.2.29953" targetFramework="net48" />
  <package id="ViDi.NET.Interfaces" version="7.3.2.29953" targetFramework="net48" />
  <package id="ViDi.NET.Local" version="7.3.2.29953" targetFramework="net48" />
  <package id="ViDi.NET.Logging" version="7.3.2.29953" targetFramework="net48" />
  <package id="ViDi.NET.UI" version="7.3.2.29953" targetFramework="net48" />
  <package id="ViDi.NET.UI.Extensions" version="7.3.2.29953" targetFramework="net48" />
  <package id="ViDi.NET.UI.Interfaces" version="7.3.2.29953" targetFramework="net48" />
  <package id="ViDi.NET.VisionPro" version="7.3.2.29953" targetFramework="net48" />
  <package id="Wibu.CodeMeter.WibuCmNET" version="7.0.3933.502" targetFramework="net48" />
</packages>